B19_SupportHSLS_5.0
C4_HLMC_barrier_Idon'tseethemasahighpriority
C4_HLMC_barrier_Ithinkthecostwouldbetoohigh
C8_HLMC_drug_4.0
C7_HLMC_supplements_5.0
B18_SupportHS_5.0
C2_HLMC_heard_1.0
C1_HLM_heard_4.0
D5_Health_pay_1.0
C6_HLMC_intervention_Dietaryadvice
C4_HLMC_barrier_Iworrythatthewaitinglistwouldbetoolong
C6_HLMC_intervention_Supplements
C4_HLMC_barrier_Idon'thaveenoughinformationaboutthem
C5_HLMC_whyinterest_Toimprovemyhealthandwellbeing
C5_HLMC_whyinterest_Toaddressaspecificmedicalconcern
C15_Patience_5.0
D9_Aspirations_5_3.0
C6_HLMC_intervention_Mentalhealthinterventions
B19_SupportHSLS_4.0
